!!!
html
  head
    script(src='jquery.min.js')
    script(src='bootstrap.min.js')
    script(src='bootswatch.js')
    link(href='css/bootstrap.min.css',rel='stylesheet')
    link(href='css/bootstrap-responsive.min.css',rel='stylesheet')
    title lixian
  body
    .container
      h1 lixian... 
      if info.stats.task
        h6 正在进行任务： #{info.stats.task.name}
      h6 取回速度: #{info.stats.speed}
      .row-fluid
        .span12
          block content
      footer
        a(href='https://github.com/layerssss/lixian-portal') lixian-portal by mic