extends layout
block content
  form.form-inline(method='post',action='/login')
    .form-group
      input.form-control(name='username',type='text',placeholder='用户名')
    .form-group
      input.form-control(name='password',type='password',placeholder='密码')
    .form-group
      button.btn.btn-primary(type='submit') 
        i.icon-signin
        |登陆